<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <!-- 이 구간은 상속 구간이라는 표현 -->
  <title>{% block title %}My Amazing Site{% endblock %}</title> 
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
  <nav class="navbar navbar-dark bg-primary">
    <div id="sidev">
      {% block sidebar %}
      <ul>
        <li><a href="/">Project_Home</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
      {% endblock %}
    </div>
  </nav>
  <div id="content">
    <div class="section">
    {% block content %}{% endblock %}
    </div>
  </div>
  {% block footer%}
  <footer class="fixed-bottom bg-info">
    <h4>여기는 footer</h4>
  </footer>
  {% endblock footer%}
</body>
</html>